*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# PNPM
.pnpm-store/
.npm-cache/
.tmp/

# Dependencias
node_modules/
**/build/

# Build web
web/node_modules/
web/dist/
dist/

# Entorno local
supabase/.temp/

# TypeScript
*.tsbuildinfo
